/* CSS declarations go here */
header
{
	background:lime;
	border:solid 2px green;
	border-radius: 3px;
	padding: 10px;
	margin: 10px;
}

header input,header button
{
	font-size:20pt;
}

#roomates{
	list-style-type: none;
	margin:0;
	padding: 0;
}

#roomates > li{
	display: inline-block;
	margin:5px;
	border:solid 1px green;
	padding: 10px;
	border-radius:3px;
	box-shadow:1px 1px 1px 2px #eee;
	vertical-align: top;
	direction:rtl;
}

#roomates > li > h2{
	font-size: 15pt;
	color:green;
	margin-bottom: 0 0 10px 0;

}

.newPayment
{
	font-size: 8pt;
	display: block;
}

.newPayment input[placeholder='what']
{
	width:100px;
}
.newPayment input[placeholder='$$$']
{
	width:30px;
}

.payments{margin:0;padding:10px;}

.payments > li {list-style-type: none ;float:right;clear:both;width:100%;}

.payments > li .money{color:#555;font-size:8pt;float:left;}
.payments > li .what{float:right;}
.removePayment {float:right;font-size:6pt; color: red;margin-left: 4px;opacity: 0.2}

.payments > li:hover .removePayment{opacity: 1}

.totalPayments{text-align: center;background: lime;padding: 4px;border:solid 1px green;margin:10px 5px;border-radius: 3px}